
<div class="title">
    {{title}}
  </div>
  
  
  <div class="name-wrapper" *ngIf="!connected">
    <div class="message-row system-msg">
      <div class="message">disconnected</div>
    </div>
  </div>
  
  <div class="name-wrapper" *ngIf="connected && !savedName">
    <div class="input-container">
      <input type="text" placeholder="enter name" maxLength="24" [disabled]="!connected" [(ngModel)]="nameIn" (keyup.enter)="saveName()"
      />
    </div>
  </div>
  
  <div class="padding-wrapper" *ngIf="connected && savedName">
    <div class="message-list-container">
      <div #feed class="message-list" (scroll)="onScroll()">
        <ng-container *ngFor="let msg of messageList">
          <div class="message-row" *ngIf="!msg.isSystem && !msg.isImage">
            <div class="user-name">{{msg.user}}</div>
            <div class="message" [style.backgroundColor]="msg.color">{{msg.message}}</div>
          </div>
  
          <div class="message-row" *ngIf="msg.isImage">
            <div class="user-name">{{msg.user}}</div>
            <div class="message" [style.backgroundColor]="msg.color">
              <img [src]="msg.message" />
            </div>
          </div>
  
          <div class="message-row system-msg" *ngIf="msg.isSystem">
            <div class="message">{{msg.message}}</div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="input-container">
      <input type="text" placeholder="enter a message" [disabled]="!connected" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()"
      />
    </div>
  </div>