
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: white;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color:  #696969;
  border-radius: 4px;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    display: none;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.title {
    background: #222222;
    font-size: 2em;
    color: white;
    text-align: center;
    padding: 8px;
}

.name-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.padding-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 8px 64px;
}


.message-list-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* margin-top: 8px; */
    background: #d1d1d1;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 8px 24px;
    /* margin: 8px 64px 0 64px; */
}

.message-list {
    overflow-y: auto;
}

.message-row {
    display: flex;
    align-items: center;
    margin-top: 4px;
    max-width: 85%;
}

.message-row.system-msg {
    max-width: 100%;
    justify-content: center;
}

.message /deep/ img {
    max-width: 100%;
    max-height: 600px;
}

.user-name {
    font-size: 2em;
    min-width: 40px;
    width: 7%;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message {
    font-size: 1.5em;
    margin-left: 32px;
    padding: 8px;
    border-radius: 4px;
    color: white;
    max-width: 100%;
}

.system-msg .message {
    color: black;
    margin: 0;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    /* height: 80px; */
    /* margin: 0px 64px 16px 64px; */
}

.input-container input {
    flex-grow: 1;
    padding: 8px 16px;
    font-size: 3em;
    border: none;
    background: #efefef;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.name-wrapper input {
    text-align: center;
}

.input-container input:focus {
    outline: none;
}

@media only screen and (max-width: 800px) {
    .padding-wrapper {
        padding: 0;
    }

    .title {
        display: none;
    }

    .input-container input {
        font-size: 2em;
    }
}

@media only screen and (max-width: 500px) {
    .padding-wrapper {
        padding: 0;
    }

    .title {
        display: none;
    }

    .message {
        font-size: 1em;
        margin-left: 8px;
        padding: 4px 8px;
    }

    .user-name {
        font-size: .8em;
    }

    .input-container input {
        font-size: 1em;
    }
}